:root {
  --background: #050505;
  --foreground: #fcfcfd;
  --box-background: #191d20;
  --highlight: #202427;
  --selection: #3f474a;
  --red: #a7403f;
  --green: #3ea663;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
